<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  
   
    <h1>
      You should eat <%=@food_result%> 
    </h1>
    <img src="<%=@link%>">
<!--     <img src="http://farm4.staticflickr.com/3769/9234009120_21d69eacee_o.jpg">
    <img src="http://morellisicecream.com/wp-content/uploads/2014/05/MIC-3scoops-banner.png"> -->
  </body>
</html>